@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/******Header Style********/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    background: #000;
    position: sticky;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 10;
}

.navbar .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

ul li a{
    color: #fff;
    font-weight: 600;
}

ul li a:hover{
    color: crimson;
    transition: all 0.6;
}


/********Hero Section Style********/

.home-content{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content .info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info div{
    margin-bottom: 50px;
}

.text1{
    font-size: 27px;
    font-weight: 400;
}
.text2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -5px;
}
.text3{
    font-size: 18px;
    line-height: 30px;
    margin: 5px -3px;
}

.info button{
    width: 200px;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info button:hover{
    bottom: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
    transform: scale(1.1);
}

.home-content img{
    margin-bottom: 50px;
    border: 5px dotted red;
}

/********My Work Section Style********/

.my-work, .resume, .form, footer{
    margin-top: 50px;
}

.my-work h1, .resume h1, #contact-me{
    margin: 20px 60px;
    color: crimson;
    font-weight: 600;
}

.my-work .table{
    background-color: crimson;
    box-shadow: 0 5px 15px rgba(1, 1, 1, 0.8);
    padding-top: 150px;
    padding-bottom: 40px;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
  }
  
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 15px;
    text-align: center;
}

th{
    color: #fff;
    font-weight: 600;
}
  
tr:nth-child(even) {
    background-color: #fff2ff;
}

.my-work .click, .resume-click{
    display: flex;
    align-items: center;
    padding: 50px;
}

.my-work .click h3{
    color: #fff;
    margin: 30px 60px;
    font-weight: 600;
}

.my-work .click button{
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-style: oblique;
}

.my-work .click button:hover{
    background-color: crimson;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.2s;
}

.resume-click input:hover{
    background-color: crimson;
    transition: all 0.2s;
}

/********My Resume Section Style********/

.resume-click input{
    margin-left: 60px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-style: oblique;
}
.resume h3{
    margin: 30px 60px;
    font-weight: 600;
}

/********Form Section Style********/

.form {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 80px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.form .form-text h2{
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}

.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

.form__label {
    font-size: 1rem;
    font-weight: 500;
    display: block;
}

.form__input__button{
    display: block;
    margin-left: 35%;
    margin-top: 20px;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-style: oblique;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.form__input__button:hover{
    color: #fff;
    background-color: crimson;
    border: 2px solid crimson;
    transition: all 0.6s;
}


/********Footer Style********/

footer{
    width: 100%;
    background-color: crimson;
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}